<div class="sub-content"  >
    <div [routerLink]="['/']" id="logo-container"><span id="logo">ShopFi</span></div>
    <div id="search-container">
        <div id="search-group">
            <select name="" id="category-search">
                <option value="All Categories">All Categories</option>
            </select>
            <span class="pipe-search">&#124;</span>
            <input type="text" id="search-term" placeholder="what do you need">
            <div id="btn-search">
                <fa-icon [icon]="faSearch"></fa-icon>
            </div>
        </div>
     
    </div>
    <div id="icones" (mouseleave)="closeShowModal()">
        <div class="fav-group">
            <img src="/assets/icons/heart.svg" alt="favorite">
            <span class="badges">{{ badgeFavoriteNumber }}</span>
        </div>
        <div [routerLink]="['/cart']" class="fav-group" (mouseenter)="openShowModal()">
            <img src="/assets/icons/bag.svg" alt="cart">
            <span class="badges">{{badgeCartNumber}}</span>
        </div>

       <div (mouseenter)="openShowModal()"  [@showHideCart]="(isAddInCart$ | async) || badgeCartNumber > 0 && showCart ? 'open' : 'closed'" 
             id="modal-cart"  >
            <app-modal-cart></app-modal-cart>
        </div>
    </div>
    <div id="value">
        <span *ngIf="totalCart$ | async">€ {{totalCart$ | async}}</span>
    </div>
</div>
