<div class="main-cart">
    <table>
        <thead>
            <th>PRODUCT</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
            <th>Total</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of productsCart">
                <td class="content-product">
                    <fa-icon class="trash" [icon]="fatrash"></fa-icon>
                    <img [src]="item.photo" alt="" srcset="">
                    <span class="name-product">{{item.name}}</span>
                </td>
                <td>{{item.price}}</td>
                <td>
                    <div class="count">
                        <span (click)='decremmentQuantity()' class="minus">-</span>
                        <span class="value">{{quantity}}</span>
                        <span (click)='incremmentQuantity()' class="plus">+</span>
                    </div>
                </td>
                <td>€{{item.price * quantity}}</td>
            </tr>
        </tbody>
    </table>

    <div class="not-product" *ngIf="!productsCart || productsCart.length === 0">
        <img src="/assets/images/bag.jpeg" alt="" srcset="">
        <span>You don't have any items in your cart.</span>
        <button [routerLink]="['/']">CONTINUE SHOPPING</button>
    </div>
    <div class="subtotal" *ngIf="productsCart && productsCart.length > 0">
        <div class="content-subtotal">
            <span><b>SUBTOTAL</b></span>
            <span><b>€6500</b></span>
        </div>
        <div class="checkout">
            <p id="freeShipclaim" class="freeShipMsg freeShipclaim" style="display: block;"><i class="ad ad-truck-l"></i>
                <fa-icon class="trash" [icon]="faTruck"></fa-icon><b>Congratulations! </b>You have got <b>FREE Shipping</b></p>
            <p class="cart__shipping">Shipping &amp; taxes calculated at checkout</p>
            <label for="cartTearm"> <input type = "checkbox" nome = "terms" value = ""> I agree with the terms and conditions</label>
            <button class="btn">PROCEED TO CHECKOUT</button>
        </div>

    </div>


</div>