.container-header {
    width: 100%;
}

.header-main {
    display: grid;
    background-size: cover;
    background-image: url('/assets/images/header-background.svg');
    grid-template-columns: 25% 45% 20% 10%;
}

#logo {
    margin: 20px;
    color: hotpink;
    font-size: large;
}

#cart {
    font-size: 25px;
    margin: 20px;
    color: hotpink;
    cursor: pointer;
    outline: 0;
}

.form {
    display: flex;
    padding: 14px 0 14px 105px;
}

form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
}

form button:hover {
    background: #0b7dda;
}

form::after {
    content: "";
    clear: both;
    display: table;
}