.product-item-wrapper {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 3% 10% 0 10%;
}

.bloco-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 75vh;
}

.error-msg {
    padding: 15px;
    margin: 10px 10px;
    width: 35%;
    border-radius: 4px;
    background-color: rgb(71, 175, 71);
}

.row-item {
    min-height: 900px;
}

.product-img {
    height: 300px;
    width: 374px;
    border: solid #e8d9d9 1px;
}

.product-content {
    padding: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
}

.product-item {
    margin: 10px;
}

.product-label {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #544e4e;
}

.product-number {
    font-size: 10px;
    color: #b2b2b2;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: center;
}

a.button_cart {
    background: url('/assets/images/button_white.png') repeat-x bottom #fcfcfb;
    height: 28px;
    font: 400 14px/27px RobotoRegular;
    color: #191919;
    text-transform: none;
    padding: 0 12px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    position: absolute;
    top: 44%;
    left: 69%;
    text-decoration: none;
    cursor: pointer;
}

#paginator {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: space-between;
    padding: 0 12% 0 82%;
    margin-bottom: 2%;
}

.product-price {
    text-align: center;
    color: #e7ab3c;
    font-size: 19px;
    font-weight: 500;
}

.all-price {
    display: flex;
    width: 43%;
}

.product-discount {
    text-decoration: line-through;
    color: #4c4c4c;
    font-size: 14px;
    padding: 1px 0 0 4px;
    margin-top: 3px;
}

.pag-number,
.pag-go-last {
    background-color: #d6d6d6;
    padding: 8px;
    cursor: pointer;
}
