
<div class="top-content">
    <div class="email-top box-content">
        <fa-icon [icon]="faEnvelop"></fa-icon>
        <span>help@justshop.pt</span>
    </div>
    <div class="tel box-content">
        <fa-icon [icon]="faphone"></fa-icon>
        <span>+351 989 898 888</span>
    </div>
    <div class="social box-content">
       <a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a> 
       <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
       <a href="#"><fa-icon [icon]="faPinterest"></fa-icon></a>
    </div>
    <div class="language">
        <div class="block-lang">
            <img *ngIf="flag == 'en'" src="/assets/flags/ingles.png" alt="flag-eng" >
            <img *ngIf="flag === 'pt'" src="/assets/flags/portugues.png" alt="flag-pt" >
            <select id="lang-select" (change)="setFlag($event.target.value)">
                <option class="flag-eng"
                  value="en">English</option>
                <option value="pt">
                 Portuguese
             </option>
            </select>

        </div>
    </div>
    <div class="login box-content">
        <fa-icon [icon]="faUser"></fa-icon>
        Login
    </div>
</div>
